* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    height: 400px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap; 
    /* makes new row/column if new items cannot be fit while preserving dimensions */
    background-color: #f4f4f4;
    justify-content: space-between; /* main axis */
    align-items: center; /* cross axis */

}

.item {

    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-basis: 100px; */

    /* all in one flex property: flex-grow, flex-shrink, flex-basis */
    flex: 1 0 100px;
    height: 100px;
    background: #254de4;
    margin: 10px;
    color: white;
}


/* pseudo selector applies it to 3rd item */
/* .item:nth-of-type(3){
    flex-grow: 1;
}

.item:nth-of-type(2){
    flex-grow: 2;
}

.item:nth-of-type(1){
    flex-grow: 1;
} */
